'.Rproj.user/**' 
*.pper
.Rproj.user/BE2C3C5D/cpp-definition-cache
.Rproj.user/BE2C3C5D/persistent-state
.Rproj.user/BE2C3C5D/rmd-outputs
.Rproj.user/BE2C3C5D/saved_source_markers
.Rproj.user/BE2C3C5D/sources/per/t/255901B3
.Rproj.user/BE2C3C5D/sources/per/t/255901B3-contents
.Rproj.user/BE2C3C5D/sources/per/t/A0E10C5C
.Rproj.user/BE2C3C5D/sources/per/t/A0E10C5C-contents
.Rproj.user/BE2C3C5D/sources/per/t/BBB231EB
.Rproj.user/BE2C3C5D/sources/per/t/BBB231EB-contents
.Rproj.user/BE2C3C5D/sources/per/t/FF14593E
.Rproj.user/BE2C3C5D/sources/per/t/FF14593E-contents
.Rproj.user/BE2C3C5D/sources/prop/10C01A3D
.Rproj.user/BE2C3C5D/sources/prop/29D71C71
.Rproj.user/BE2C3C5D/sources/prop/2ACAD39C
.Rproj.user/BE2C3C5D/sources/prop/3476B712
.Rproj.user/BE2C3C5D/sources/prop/5E620CE3
.Rproj.user/BE2C3C5D/sources/prop/6257220B
.Rproj.user/BE2C3C5D/sources/prop/6F4D74D4
.Rproj.user/BE2C3C5D/sources/prop/79BA1079
.Rproj.user/BE2C3C5D/sources/prop/7EE1148C
.Rproj.user/BE2C3C5D/sources/prop/976393F7
.Rproj.user/BE2C3C5D/sources/prop/A0D0C9FC
.Rproj.user/BE2C3C5D/sources/prop/AF5B6564
.Rproj.user/BE2C3C5D/sources/prop/BEE03B1A
.Rproj.user/BE2C3C5D/sources/prop/C68DF39E
.Rproj.user/BE2C3C5D/sources/prop/CAE026FB
.Rproj.user/BE2C3C5D/sources/prop/INDEX
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5D172E2F1/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5D1FCAAE91/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5D2CFBD39F/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5D3A4ED3B6/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5D82534C8A/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5D97128BFF/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5DB980CEF3/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5DCEF041B4/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5DD1D4AA11/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5DD23C9488/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/BE2C3C5DFF4974DE/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0812ogulhbhy/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0812ogulhbhy/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0812ogulhbhy/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0812ogulhbhy/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0jdlwpsm8j66/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0jdlwpsm8j66/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0jdlwpsm8j66/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c0jdlwpsm8j66/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c1nhv5z4yughg/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c1nhv5z4yughg/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c1nhv5z4yughg/000005.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c1nhv5z4yughg/000005.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c1nhv5z4yughg/000005.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c1zttum65788l/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c24lgnrnakb06/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c24lgnrnakb06/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c24lgnrnakb06/000005.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c24lgnrnakb06/000005.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c24lgnrnakb06/000005.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c24lgnrnakb06/000006.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c45omvq50shwg/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c45omvq50shwg/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c45omvq50shwg/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c45omvq50shwg/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c5ty6qkhpci2x/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c7rdq893t2f4a/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c8dvqwjs8i8tk/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c8va15q277ms4/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c8va15q277ms4/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c8va15q277ms4/000005.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c8va15q277ms4/000005.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c8va15q277ms4/000005.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9aueh87a3wdk/000014.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9aueh87a3wdk/000015.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9aueh87a3wdk/000015.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9aueh87a3wdk/000015.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9suzyl45gm2f/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9suzyl45gm2f/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9suzyl45gm2f/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/c9suzyl45gm2f/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cazhpr1s4ocp0/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb0t1nkyi7ncw/00001a.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb0t1nkyi7ncw/00001c.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb0t1nkyi7ncw/00001d.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb0t1nkyi7ncw/00001d.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb0t1nkyi7ncw/00001d.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb5sr27zlfa38/000026.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb5sr27zlfa38/000028.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb5sr27zlfa38/00002a.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb5sr27zlfa38/00002b.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb5sr27zlfa38/00002b.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cb5sr27zlfa38/00002b.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cc5rwefqlntex/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cc5rwefqlntex/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cc5rwefqlntex/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cc5rwefqlntex/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cd8bz2k88ih2t/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cd8bz2k88ih2t/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cd8bz2k88ih2t/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cd8bz2k88ih2t/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cdq8wuj3glizq/00002e.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cdq8wuj3glizq/00002f.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cdq8wuj3glizq/00002f.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cdq8wuj3glizq/00002f.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cdq8wuj3glizq/temp/00002f.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cfumyx5jfhkzi/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cfumyx5jfhkzi/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cfumyx5jfhkzi/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cfumyx5jfhkzi/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cgk4t3kyswcdk/000019.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cgk4t3kyswcdk/00001a.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cgk4t3kyswcdk/00001a.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cgk4t3kyswcdk/00001a.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/chunks.json
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/chvdk3w70zor1/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/chvdk3w70zor1/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/chvdk3w70zor1/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/chvdk3w70zor1/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cik7ek3cn1d2s/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cjeqaqr521ri9/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cjeqaqr521ri9/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cjeqaqr521ri9/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cjeqaqr521ri9/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ckh6p8pdf9w6a/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cltfuyjsj343n/00000e.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cltfuyjsj343n/00000f.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cltfuyjsj343n/00000f.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cltfuyjsj343n/00000f.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/co9vba4o2tu40/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/co9vba4o2tu40/000005.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/co9vba4o2tu40/000005.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/co9vba4o2tu40/000005.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/conbq4z0rfrpk/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/conbq4z0rfrpk/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/conbq4z0rfrpk/000006.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/conbq4z0rfrpk/000007.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/conbq4z0rfrpk/000007.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/conbq4z0rfrpk/000007.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cp0wcfiom18ap/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cp0wcfiom18ap/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cp0wcfiom18ap/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cp0wcfiom18ap/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cpo42py75x8rz/000010.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cpo42py75x8rz/000011.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cpo42py75x8rz/000011.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cpo42py75x8rz/000011.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cqi8dmtwb2dt9/000012.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cqi8dmtwb2dt9/000013.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cqi8dmtwb2dt9/000013.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cqi8dmtwb2dt9/000013.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cs110dknz9us0/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ct6ld5udc02sd/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctibk6dx9p8xo/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctibk6dx9p8xo/000004.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctibk6dx9p8xo/000006.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctibk6dx9p8xo/000007.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctibk6dx9p8xo/000007.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctibk6dx9p8xo/000007.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctnobvksi44wi/000002.csv
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctnobvksi44wi/000003.metadata
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctnobvksi44wi/000003.png
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/ctnobvksi44wi/000003.snapshot
.Rproj.user/shared/notebooks/7E791E38-contourr/1/s/cyuxljxmdfecq/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user
